# 量化实习常用函数系列一

## pandas量化实习常用函数介绍

In [3]:
import pandas as pd
import tushare as ts
import warnings
warnings.filterwarnings("ignore",category=FutureWarning)

In [5]:
token_key='dc0da43c9ec5549606a55f236aa4c998c9b6f3ba9f25422f8c7b3df7'
pro=ts.pro_api(token_key)
# 获取浦发银行的股价
df1 = pro.daily(ts_code='600000.SH', start_date='20180101', end_date='20180331')
df1.head()

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,600000.SH,20180330,11.63,11.69,11.61,11.65,11.62,0.03,0.26,232719.65,270987.701
1,600000.SH,20180329,11.57,11.71,11.45,11.62,11.57,0.05,0.43,331088.05,383064.999
2,600000.SH,20180328,11.53,11.75,11.52,11.57,11.62,-0.05,-0.43,229112.82,266121.467
3,600000.SH,20180327,11.70,11.77,11.56,11.62,11.61,0.01,0.09,273328.09,318586.664
4,600000.SH,20180326,11.71,11.75,11.50,11.61,11.71,-0.10,-0.85,364250.54,422233.460

In [6]:
# 获取青岛啤酒的股价
df2 = pro.daily(ts_code='600600.SH', start_date='20180101', end_date='20180331')
df2.head()

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,600600.SH,20180330,40.00,40.85,39.76,40.43,39.99,0.44,1.10,54695.84,221043.758
1,600600.SH,20180329,39.17,40.09,38.03,39.99,39.16,0.83,2.12,57586.40,225764.879
2,600600.SH,20180328,39.80,39.88,38.72,39.16,40.64,-1.48,-3.64,65720.36,258895.658
3,600600.SH,20180327,40.35,40.79,39.74,40.64,40.21,0.43,1.07,62885.52,253193.642
4,600600.SH,20180326,37.69,40.34,37.50,40.21,38.04,2.17,5.70,58624.39,227846.463

In [7]:
# 查看数据对象
df1.dtypes

ts_code        object
trade_date     object
open          float64
high          float64
low           float64
close         float64
pre_close     float64
change        float64
pct_chg       float64
vol           float64
amount        float64
dtype: object

In [8]:
# ts_code转化为str
df1.ts_code=df1.ts_code.astype('string')
df1.dtypes

ts_code       string[python]
trade_date            object
open                 float64
high                 float64
low                  float64
close                float64
pre_close            float64
change               float64
pct_chg              float64
vol                  float64
amount               float64
dtype: object

In [9]:
# 将trade_date转换成日期格式
df1.index=pd.to_datetime(df1.trade_date)
# 将df进行升序排列处理
df1=df1[::-1]
df1.head()

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
trade_date,,,,,,,,,,,
2018-01-02,600000.SH,20180102,12.61,12.77,12.60,12.72,12.59,0.13,1.03,313230.53,398614.966
2018-01-03,600000.SH,20180103,12.73,12.80,12.66,12.66,12.72,-0.06,-0.47,378391.01,480954.809
2018-01-04,600000.SH,20180104,12.70,12.73,12.62,12.66,12.66,0.00,0.00,278838.04,353205.838
2018-01-05,600000.SH,20180105,12.67,12.71,12.62,12.69,12.66,0.03,0.24,310267.44,393058.250
2018-01-08,600000.SH,20180108,12.69,12.71,12.63,12.68,12.69,-0.01,-0.08,313898.87,397842.209

In [10]:
df1.sort_index()

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
trade_date,,,,,,,,,,,
2018-01-02,600000.SH,20180102,12.61,12.77,12.60,12.72,12.59,0.13,1.03,313230.53,398614.966
2018-01-03,600000.SH,20180103,12.73,12.80,12.66,12.66,12.72,-0.06,-0.47,378391.01,480954.809
2018-01-04,600000.SH,20180104,12.70,12.73,12.62,12.66,12.66,0.00,0.00,278838.04,353205.838
2018-01-05,600000.SH,20180105,12.67,12.71,12.62,12.69,12.66,0.03,0.24,310267.44,393058.250
2018-01-08,600000.SH,20180108,12.69,12.71,12.63,12.68,12.69,-0.01,-0.08,313898.87,397842.209
2018-01-09,600000.SH,20180109,12.68,12.74,12.66,12.70,12.68,0.02,0.16,262154.32,332848.333
2018-01-10,600000.SH,20180110,12.70,13.09,12.68,13.02,12.70,0.32,2.52,906799.90,1174202.006
2018-01-11,600000.SH,20180111,12.95,13.04,12.87,12.94,13.02,-0.08,-0.61,378164.12,489588.906
2018-01-12,600000.SH,20180112,12.97,13.00,12.90,12.91,12.94,-0.03,-0.23,242034.19,313215.088
2018-01-15,600000.SH,20180115,12.88,13.08,12.85,13.02,12.91,0.11,0.85,613206.80,796861.091
2018-01-16,600000.SH,20180116,12.97,13.06,12.78,12.90,13.02,-0.12,-0.92,748926.52,963701.144
2018-01-17,600000.SH,20180117,12.91,13.42,12.89,13.10,12.90,0.20,1.55,1271328.13,1675235.171
2018-01-18,600000.SH,20180118,13.14,13.25,13.05,13.24,13.10,0.14,1.07,1116080.76,1465159.094
2018-01-19,600000.SH,20180119,13.33,13.61,13.18,13.24,13.24,0.00,0.00,1716488.71,2300220.633
2018-01-22,600000.SH,20180122,12.93,13.15,12.71,12.77,13.24,-0.47,-3.55,2725138.01,3514775.144
2018-01-23,600000.SH,20180123,12.75,12.92,12.68,12.90,12.77,0.13,1.02,2178274.57,2791828.653
2018-01-24,600000.SH,20180124,12.97,14.00,12.89,13.57,12.90,0.67,5.19,3796536.29,5099364.114
2018-01-25,600000.SH,20180125,13.54,13.76,13.36,13.65,13.57,0.08,0.59,1769896.31,2400208.784
2018-01-26,600000.SH,20180126,13.65,13.72,13.36,13.41,13.65,-0.24,-1.76,2184196.85,2954019.925
2018-01-29,600000.SH,20180129,13.48,13.53,13.32,13.46,13.41,0.05,0.37,1537831.04,2065139.247
2018-01-30,600000.SH,20180130,13.45,13.49,13.09,13.11,13.46,-0.35,-2.60,1078040.18,1429924.976
2018-01-31,600000.SH,20180131,13.05,13.19,12.98,13.17,13.11,0.06,0.46,1177032.64,1541960.901
2018-02-01,600000.SH,20180201,13.14,13.33,12.94,13.30,13.17,0.13,0.99,1735733.31,2289044.601
2018-02-02,600000.SH,20180202,13.19,13.19,13.01,13.14,13.30,-0.16,-1.20,717967.80,941467.191
2018-02-05,600000.SH,20180205,13.00,13.54,12.98,13.49,13.14,0.35,2.66,1501496.57,2006361.757
2018-02-06,600000.SH,20180206,13.29,13.50,13.20,13.48,13.49,-0.01,-0.07,2443589.92,3270199.180
2018-02-07,600000.SH,20180207,13.58,13.90,13.24,13.45,13.48,-0.03,-0.22,2007701.15,2720519.687
2018-02-08,600000.SH,20180208,13.34,13.40,12.95,13.10,13.45,-0.35,-2.60,1094268.72,1438198.801
2018-02-09,600000.SH,20180209,12.89,12.98,12.24,12.78,13.10,-0.32,-2.44,1492573.56,1877264.356
2018-02-12,600000.SH,20180212,12.66,12.68,12.43,12.49,12.78,-0.29,-2.27,647991.97,811027.710
2018-02-13,600000.SH,20180213,12.55,12.68,12.50,12.51,12.49,0.02,0.16,549002.14,690054.113
2018-02-14,600000.SH,20180214,12.50,12.55,12.38,12.46,12.51,-0.05,-0.40,325978.11,406060.202
2018-02-22,600000.SH,20180222,12.60,12.68,12.53,12.63,12.46,0.17,1.36,420122.85,529856.471
2018-02-23,600000.SH,20180223,12.66,12.78,12.59,12.72,12.63,0.09,0.71,387365.15,491768.409
2018-02-26,600000.SH,20180226,12.77,12.84,12.61,12.73,12.72,0.01,0.08,488060.55,620261.080
2018-02-27,600000.SH,20180227,12.75,12.76,12.61,12.69,12.73,-0.04,-0.31,485610.87,615622.149
2018-02-28,600000.SH,20180228,12.61,12.66,12.44,12.46,12.69,-0.23,-1.81,398889.38,499258.844
2018-03-01,600000.SH,20180301,12.40,12.50,12.38,12.47,12.46,0.01,0.08,344910.31,429574.072
2018-03-02,600000.SH,20180302,12.40,12.46,12.36,12.41,12.47,-0.06,-0.48,230241.32,285473.130
2018-03-05,600000.SH,20180305,12.41,12.48,12.34,12.42,12.41,0.01,0.08,293434.64,363849.705
2018-03-06,600000.SH,20180306,12.48,12.51,12.38,12.49,12.42,0.07,0.56,272226.68,339015.159
2018-03-07,600000.SH,20180307,12.51,12.60,12.46,12.49,12.49,0.00,0.00,388175.75,487036.820
2018-03-08,600000.SH,20180308,12.55,12.55,12.40,12.47,12.49,-0.02,-0.16,221641.32,276013.913
2018-03-09,600000.SH,20180309,12.49,12.51,12.42,12.48,12.47,0.01,0.08,235582.87,293550.899
2018-03-12,600000.SH,20180312,12.53,12.54,12.46,12.50,12.48,0.02,0.16,251618.21,314544.074
2018-03-13,600000.SH,20180313,12.50,12.58,12.43,12.49,12.50,-0.01,-0.08,251450.00,314545.358
2018-03-14,600000.SH,20180314,12.45,12.45,12.38,12.39,12.49,-0.10,-0.80,228046.03,282970.086
2018-03-15,600000.SH,20180315,12.35,12.41,12.34,12.39,12.39,0.00,0.00,172877.74,213972.089
2018-03-16,600000.SH,20180316,12.36,12.40,12.30,12.30,12.39,-0.09,-0.73,267813.99,330778.426
2018-03-19,600000.SH,20180319,12.31,12.33,12.26,12.31,12.30,0.01,0.08,168960.48,207819.310
2018-03-20,600000.SH,20180320,12.28,12.39,12.25,12.32,12.31,0.01,0.08,206722.83,254187.843
2018-03-21,600000.SH,20180321,12.34,12.40,12.28,12.29,12.32,-0.03,-0.24,238784.65,294872.209
2018-03-22,600000.SH,20180322,12.35,12.35,12.25,12.25,12.29,-0.04,-0.33,229484.84,281975.042
2018-03-23,600000.SH,20180323,12.00,12.06,11.64,11.71,12.25,-0.54,-4.41,571063.91,676679.666
2018-03-26,600000.SH,20180326,11.71,11.75,11.50,11.61,11.71,-0.10,-0.85,364250.54,422233.460
2018-03-27,600000.SH,20180327,11.70,11.77,11.56,11.62,11.61,0.01,0.09,273328.09,318586.664
2018-03-28,600000.SH,20180328,11.53,11.75,11.52,11.57,11.62,-0.05,-0.43,229112.82,266121.467
2018-03-29,600000.SH,20180329,11.57,11.71,11.45,11.62,11.57,0.05,0.43,331088.05,383064.999
2018-03-30,600000.SH,20180330,11.63,11.69,11.61,11.65,11.62,0.03,0.26,232719.65,270987.701

In [11]:
df1.index[0:5]

DatetimeIndex(['2018-01-02', '2018-01-03', '2018-01-04', '2018-01-05',
               '2018-01-08'],
              dtype='datetime64[ns]', name='trade_date', freq=None)

In [12]:
# 设置重复项
df1.iloc[1,:]=df1.iloc[0,:]
df1.head()

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
trade_date,,,,,,,,,,,
2018-01-02,600000.SH,20180102,12.61,12.77,12.60,12.72,12.59,0.13,1.03,313230.53,398614.966
2018-01-03,600000.SH,20180102,12.61,12.77,12.60,12.72,12.59,0.13,1.03,313230.53,398614.966
2018-01-04,600000.SH,20180104,12.70,12.73,12.62,12.66,12.66,0.00,0.00,278838.04,353205.838
2018-01-05,600000.SH,20180105,12.67,12.71,12.62,12.69,12.66,0.03,0.24,310267.44,393058.250
2018-01-08,600000.SH,20180108,12.69,12.71,12.63,12.68,12.69,-0.01,-0.08,313898.87,397842.209

In [13]:
# 删除重复项
df1=df1.drop_duplicates(subset=['trade_date'],keep='last')
df1.head()

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
trade_date,,,,,,,,,,,
2018-01-03,600000.SH,20180102,12.61,12.77,12.60,12.72,12.59,0.13,1.03,313230.53,398614.966
2018-01-04,600000.SH,20180104,12.70,12.73,12.62,12.66,12.66,0.00,0.00,278838.04,353205.838
2018-01-05,600000.SH,20180105,12.67,12.71,12.62,12.69,12.66,0.03,0.24,310267.44,393058.250
2018-01-08,600000.SH,20180108,12.69,12.71,12.63,12.68,12.69,-0.01,-0.08,313898.87,397842.209
2018-01-09,600000.SH,20180109,12.68,12.74,12.66,12.70,12.68,0.02,0.16,262154.32,332848.333

In [16]:
# 重新取样的频率参照：
print(df1.resample('MS').first())

              ts_code trade_date   open   high    low  close  pre_close  \
trade_date
2018-01-01  600000.SH   20180102  12.61  12.77  12.60  12.72      12.59
2018-02-01  600000.SH   20180201  13.14  13.33  12.94  13.30      13.17
2018-03-01  600000.SH   20180301  12.40  12.50  12.38  12.47      12.46

            change  pct_chg         vol       amount
trade_date
2018-01-01    0.13     1.03   313230.53   398614.966
2018-02-01    0.13     0.99  1735733.31  2289044.601
2018-03-01    0.01     0.08   344910.31   429574.072

In [29]:
df2.index=pd.to_datetime(df2.trade_date)
df2.head()

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
trade_date,,,,,,,,,,,
2018-03-30,600600.SH,20180330,40.00,40.85,39.76,40.43,39.99,0.44,1.10,54695.84,221043.758
2018-03-29,600600.SH,20180329,39.17,40.09,38.03,39.99,39.16,0.83,2.12,57586.40,225764.879
2018-03-28,600600.SH,20180328,39.80,39.88,38.72,39.16,40.64,-1.48,-3.64,65720.36,258895.658
2018-03-27,600600.SH,20180327,40.35,40.79,39.74,40.64,40.21,0.43,1.07,62885.52,253193.642
2018-03-26,600600.SH,20180326,37.69,40.34,37.50,40.21,38.04,2.17,5.70,58624.39,227846.463

In [28]:
df_concat=pd.concat([df1,df2])
df_concat

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
trade_date,,,,,,,,,,,
2018-01-03,600000.SH,20180102,12.61,12.77,12.60,12.72,12.59,0.13,1.03,313230.53,398614.966
2018-01-04,600000.SH,20180104,12.70,12.73,12.62,12.66,12.66,0.00,0.00,278838.04,353205.838
2018-01-05,600000.SH,20180105,12.67,12.71,12.62,12.69,12.66,0.03,0.24,310267.44,393058.250
2018-01-08,600000.SH,20180108,12.69,12.71,12.63,12.68,12.69,-0.01,-0.08,313898.87,397842.209
2018-01-09,600000.SH,20180109,12.68,12.74,12.66,12.70,12.68,0.02,0.16,262154.32,332848.333
...,...,...,...,...,...,...,...,...,...,...,...
2018-01-08,600600.SH,20180108,42.75,43.20,41.50,42.02,43.84,-1.82,-4.15,142886.11,602651.862
2018-01-05,600600.SH,20180105,42.35,43.84,42.35,43.84,39.85,3.99,10.01,221756.95,962386.231
2018-01-04,600600.SH,20180104,39.24,40.05,38.90,39.85,39.39,0.46,1.17,116358.94,460960.052
2018-01-03,600600.SH,20180103,39.72,39.75,38.65,39.39,39.64,-0.25,-0.63,94272.67,368201.157
2018-01-02,600600.SH,20180102,39.50,39.90,38.94,39.64,39.33,0.31,0.79,62566.85,247146.470

In [31]:
df_groups=df_concat.groupby('ts_code')
df_groups

In [32]:
for name,df in df_groups:
    print(name,'\n',df.head())

600000.SH
               ts_code trade_date   open   high    low  close  pre_close  \
trade_date
2018-01-03  600000.SH   20180102  12.61  12.77  12.60  12.72      12.59
2018-01-04  600000.SH   20180104  12.70  12.73  12.62  12.66      12.66
2018-01-05  600000.SH   20180105  12.67  12.71  12.62  12.69      12.66
2018-01-08  600000.SH   20180108  12.69  12.71  12.63  12.68      12.69
2018-01-09  600000.SH   20180109  12.68  12.74  12.66  12.70      12.68

            change  pct_chg        vol      amount
trade_date
2018-01-03    0.13     1.03  313230.53  398614.966
2018-01-04    0.00     0.00  278838.04  353205.838
2018-01-05    0.03     0.24  310267.44  393058.250
2018-01-08   -0.01    -0.08  313898.87  397842.209
2018-01-09    0.02     0.16  262154.32  332848.333
600600.SH
               ts_code trade_date   open   high    low  close  pre_close  \
trade_date
2018-03-30  600600.SH   20180330  40.00  40.85  39.76  40.43      39.99
2018-03-29  600600.SH   20180329  39.17  40.09  38.03  39.99      39.16
2018-03-28  600600.SH   20180328  39.80  39.88  38.72  39.16      40.64
2018-03-27  600600.SH   20180327  40.35  40.79  39.74  40.64      40.21
2018-03-26  600600.SH   20180326  37.69  40.34  37.50  40.21      38.04

            change  pct_chg       vol      amount
trade_date
2018-03-30    0.44     1.10  54695.84  221043.758
2018-03-29    0.83     2.12  57586.40  225764.879
2018-03-28   -1.48    -3.64  65720.36  258895.658
2018-03-27    0.43     1.07  62885.52  253193.642
2018-03-26    2.17     5.70  58624.39  227846.463

In [33]:
df_dict={name:df for name,df in df_groups}
df_dict

{'600000.SH':               ts_code trade_date   open   high    low  close  pre_close  \
 trade_date
 2018-01-03  600000.SH   20180102  12.61  12.77  12.60  12.72      12.59
 2018-01-04  600000.SH   20180104  12.70  12.73  12.62  12.66      12.66
 2018-01-05  600000.SH   20180105  12.67  12.71  12.62  12.69      12.66
 2018-01-08  600000.SH   20180108  12.69  12.71  12.63  12.68      12.69
 2018-01-09  600000.SH   20180109  12.68  12.74  12.66  12.70      12.68
 2018-01-10  600000.SH   20180110  12.70  13.09  12.68  13.02      12.70
 2018-01-11  600000.SH   20180111  12.95  13.04  12.87  12.94      13.02
 2018-01-12  600000.SH   20180112  12.97  13.00  12.90  12.91      12.94
 2018-01-15  600000.SH   20180115  12.88  13.08  12.85  13.02      12.91
 2018-01-16  600000.SH   20180116  12.97  13.06  12.78  12.90      13.02
 2018-01-17  600000.SH   20180117  12.91  13.42  12.89  13.10      12.90
 2018-01-18  600000.SH   20180118  13.14  13.25  13.05  13.24      13.10
 2018-01-19  600000.SH   20180119  13.33  13.61  13.18  13.24      13.24
 2018-01-22  600000.SH   20180122  12.93  13.15  12.71  12.77      13.24
 2018-01-23  600000.SH   20180123  12.75  12.92  12.68  12.90      12.77
 2018-01-24  600000.SH   20180124  12.97  14.00  12.89  13.57      12.90
 2018-01-25  600000.SH   20180125  13.54  13.76  13.36  13.65      13.57
 2018-01-26  600000.SH   20180126  13.65  13.72  13.36  13.41      13.65
 2018-01-29  600000.SH   20180129  13.48  13.53  13.32  13.46      13.41
 2018-01-30  600000.SH   20180130  13.45  13.49  13.09  13.11      13.46
 2018-01-31  600000.SH   20180131  13.05  13.19  12.98  13.17      13.11
 2018-02-01  600000.SH   20180201  13.14  13.33  12.94  13.30      13.17
 2018-02-02  600000.SH   20180202  13.19  13.19  13.01  13.14      13.30
 2018-02-05  600000.SH   20180205  13.00  13.54  12.98  13.49      13.14
 2018-02-06  600000.SH   20180206  13.29  13.50  13.20  13.48      13.49
 2018-02-07  600000.SH   20180207  13.58  13.90  13.24  13.45      13.48
 2018-02-08  600000.SH   20180208  13.34  13.40  12.95  13.10      13.45
 2018-02-09  600000.SH   20180209  12.89  12.98  12.24  12.78      13.10
 2018-02-12  600000.SH   20180212  12.66  12.68  12.43  12.49      12.78
 2018-02-13  600000.SH   20180213  12.55  12.68  12.50  12.51      12.49
 2018-02-14  600000.SH   20180214  12.50  12.55  12.38  12.46      12.51
 2018-02-22  600000.SH   20180222  12.60  12.68  12.53  12.63      12.46
 2018-02-23  600000.SH   20180223  12.66  12.78  12.59  12.72      12.63
 2018-02-26  600000.SH   20180226  12.77  12.84  12.61  12.73      12.72
 2018-02-27  600000.SH   20180227  12.75  12.76  12.61  12.69      12.73
 2018-02-28  600000.SH   20180228  12.61  12.66  12.44  12.46      12.69
 2018-03-01  600000.SH   20180301  12.40  12.50  12.38  12.47      12.46
 2018-03-02  600000.SH   20180302  12.40  12.46  12.36  12.41      12.47
 2018-03-05  600000.SH   20180305  12.41  12.48  12.34  12.42      12.41
 2018-03-06  600000.SH   20180306  12.48  12.51  12.38  12.49      12.42
 2018-03-07  600000.SH   20180307  12.51  12.60  12.46  12.49      12.49
 2018-03-08  600000.SH   20180308  12.55  12.55  12.40  12.47      12.49
 2018-03-09  600000.SH   20180309  12.49  12.51  12.42  12.48      12.47
 2018-03-12  600000.SH   20180312  12.53  12.54  12.46  12.50      12.48
 2018-03-13  600000.SH   20180313  12.50  12.58  12.43  12.49      12.50
 2018-03-14  600000.SH   20180314  12.45  12.45  12.38  12.39      12.49
 2018-03-15  600000.SH   20180315  12.35  12.41  12.34  12.39      12.39
 2018-03-16  600000.SH   20180316  12.36  12.40  12.30  12.30      12.39
 2018-03-19  600000.SH   20180319  12.31  12.33  12.26  12.31      12.30
 2018-03-20  600000.SH   20180320  12.28  12.39  12.25  12.32      12.31
 2018-03-21  600000.SH   20180321  12.34  12.40  12.28  12.29      12.32
 2018-03-22  600000.SH   20180322  12.35  12.35  12.25  12.25      12.29
 2018-03-23  600000.SH   20180323  12.00  12.06  11.64  11.71      12.25
 2018-03-26  600000.SH   20180326  11.71  11.75  11.50  11.61      11.71
 2018-03-27  600000.SH   20180327  11.70  11.77  11.56  11.62      11.61
 2018-03-28  600000.SH   20180328  11.53  11.75  11.52  11.57      11.62
 2018-03-29  600000.SH   20180329  11.57  11.71  11.45  11.62      11.57
 2018-03-30  600000.SH   20180330  11.63  11.69  11.61  11.65      11.62

             change  pct_chg         vol       amount
 trade_date
 2018-01-03    0.13     1.03   313230.53   398614.966
 2018-01-04    0.00     0.00   278838.04   353205.838
 2018-01-05    0.03     0.24   310267.44   393058.250
 2018-01-08   -0.01    -0.08   313898.87   397842.209
 2018-01-09    0.02     0.16   262154.32   332848.333
 2018-01-10    0.32     2.52   906799.90  1174202.006
 2018-01-11   -0.08    -0.61   378164.12   489588.906
 2018-01-12   -0.03    -0.23   242034.19   313215.088
 2018-01-15    0.11     0.85   613206.80   796861.091
 2018-01-16   -0.12    -0.92   748926.52   963701.144
 2018-01-17    0.20     1.55  1271328.13  1675235.171
 2018-01-18    0.14     1.07  1116080.76  1465159.094
 2018-01-19    0.00     0.00  1716488.71  2300220.633
 2018-01-22   -0.47    -3.55  2725138.01  3514775.144
 2018-01-23    0.13     1.02  2178274.57  2791828.653
 2018-01-24    0.67     5.19  3796536.29  5099364.114
 2018-01-25    0.08     0.59  1769896.31  2400208.784
 2018-01-26   -0.24    -1.76  2184196.85  2954019.925
 2018-01-29    0.05     0.37  1537831.04  2065139.247
 2018-01-30   -0.35    -2.60  1078040.18  1429924.976
 2018-01-31    0.06     0.46  1177032.64  1541960.901
 2018-02-01    0.13     0.99  1735733.31  2289044.601
 2018-02-02   -0.16    -1.20   717967.80   941467.191
 2018-02-05    0.35     2.66  1501496.57  2006361.757
 2018-02-06   -0.01    -0.07  2443589.92  3270199.180
 2018-02-07   -0.03    -0.22  2007701.15  2720519.687
 2018-02-08   -0.35    -2.60  1094268.72  1438198.801
 2018-02-09   -0.32    -2.44  1492573.56  1877264.356
 2018-02-12   -0.29    -2.27   647991.97   811027.710
 2018-02-13    0.02     0.16   549002.14   690054.113
 2018-02-14   -0.05    -0.40   325978.11   406060.202
 2018-02-22    0.17     1.36   420122.85   529856.471
 2018-02-23    0.09     0.71   387365.15   491768.409
 2018-02-26    0.01     0.08   488060.55   620261.080
 2018-02-27   -0.04    -0.31   485610.87   615622.149
 2018-02-28   -0.23    -1.81   398889.38   499258.844
 2018-03-01    0.01     0.08   344910.31   429574.072
 2018-03-02   -0.06    -0.48   230241.32   285473.130
 2018-03-05    0.01     0.08   293434.64   363849.705
 2018-03-06    0.07     0.56   272226.68   339015.159
 2018-03-07    0.00     0.00   388175.75   487036.820
 2018-03-08   -0.02    -0.16   221641.32   276013.913
 2018-03-09    0.01     0.08   235582.87   293550.899
 2018-03-12    0.02     0.16   251618.21   314544.074
 2018-03-13   -0.01    -0.08   251450.00   314545.358
 2018-03-14   -0.10    -0.80   228046.03   282970.086
 2018-03-15    0.00     0.00   172877.74   213972.089
 2018-03-16   -0.09    -0.73   267813.99   330778.426
 2018-03-19    0.01     0.08   168960.48   207819.310
 2018-03-20    0.01     0.08   206722.83   254187.843
 2018-03-21   -0.03    -0.24   238784.65   294872.209
 2018-03-22   -0.04    -0.33   229484.84   281975.042
 2018-03-23   -0.54    -4.41   571063.91   676679.666
 2018-03-26   -0.10    -0.85   364250.54   422233.460
 2018-03-27    0.01     0.09   273328.09   318586.664
 2018-03-28   -0.05    -0.43   229112.82   266121.467
 2018-03-29    0.05     0.43   331088.05   383064.999
 2018-03-30    0.03     0.26   232719.65   270987.701  ,
 '600600.SH':               ts_code trade_date   open   high    low  close  pre_close  \
 trade_date
 2018-03-30  600600.SH   20180330  40.00  40.85  39.76  40.43      39.99
 2018-03-29  600600.SH   20180329  39.17  40.09  38.03  39.99      39.16
 2018-03-28  600600.SH   20180328  39.80  39.88  38.72  39.16      40.64
 2018-03-27  600600.SH   20180327  40.35  40.79  39.74  40.64      40.21
 2018-03-26  600600.SH   20180326  37.69  40.34  37.50  40.21      38.04
 2018-03-23  600600.SH   20180323  37.67  38.81  37.05  38.04      39.43
 2018-03-22  600600.SH   20180322  39.68  40.35  39.04  39.43      39.68
 2018-03-21  600600.SH   20180321  40.35  41.19  39.46  39.68      40.26
 2018-03-20  600600.SH   20180320  40.00  40.49  39.73  40.26      40.49
 2018-03-19  600600.SH   20180319  40.25  40.86  39.59  40.49      40.26
 2018-03-16  600600.SH   20180316  41.23  41.71  40.02  40.26      41.22
 2018-03-15  600600.SH   20180315  40.68  42.21  40.50  41.22      40.83
 2018-03-14  600600.SH   20180314  40.56  41.07  40.31  40.83      40.78
 2018-03-13  600600.SH   20180313  40.80  41.46  40.21  40.78      40.91
 2018-03-12  600600.SH   20180312  39.70  41.15  39.70  40.91      38.91
 2018-03-09  600600.SH   20180309  38.00  39.39  38.00  38.91      37.39
 2018-03-08  600600.SH   20180308  36.85  37.49  36.59  37.39      36.99
 2018-03-07  600600.SH   20180307  37.50  38.08  36.75  36.99      37.43
 2018-03-06  600600.SH   20180306  37.12  37.64  36.80  37.43      36.96
 2018-03-05  600600.SH   20180305  37.50  37.88  36.78  36.96      37.50
 2018-03-02  600600.SH   20180302  37.68  38.22  37.39  37.50      38.25
 2018-03-01  600600.SH   20180301  37.76  38.47  37.51  38.25      38.13
 2018-02-28  600600.SH   20180228  37.81  38.16  36.70  38.13      38.13
 2018-02-27  600600.SH   20180227  38.94  38.99  37.70  38.13      39.03
 2018-02-26  600600.SH   20180226  38.74  39.23  38.25  39.03      38.63
 2018-02-23  600600.SH   20180223  38.45  38.68  38.06  38.63      38.43
 2018-02-22  600600.SH   20180222  38.37  38.77  38.04  38.43      37.82
 2018-02-14  600600.SH   20180214  37.34  37.95  37.09  37.82      37.32
 2018-02-13  600600.SH   20180213  37.03  38.10  37.03  37.32      36.75
 2018-02-12  600600.SH   20180212  35.99  36.97  35.86  36.75      35.74
 2018-02-09  600600.SH   20180209  36.39  36.64  35.08  35.74      37.48
 2018-02-08  600600.SH   20180208  37.00  37.80  36.64  37.48      37.41
 2018-02-07  600600.SH   20180207  38.66  38.80  37.33  37.41      38.02
 2018-02-06  600600.SH   20180206  38.52  38.88  37.00  38.02      39.63
 2018-02-05  600600.SH   20180205  39.15  39.75  38.30  39.63      40.16
 2018-02-02  600600.SH   20180202  38.28  40.47  37.65  40.16      38.30
 2018-02-01  600600.SH   20180201  39.55  39.85  37.50  38.30      39.89
 2018-01-31  600600.SH   20180131  39.02  40.10  38.94  39.89      38.94
 2018-01-30  600600.SH   20180130  38.95  39.37  38.60  38.94      39.26
 2018-01-29  600600.SH   20180129  41.11  41.44  38.83  39.26      41.08
 2018-01-26  600600.SH   20180126  40.89  41.97  40.66  41.08      40.80
 2018-01-25  600600.SH   20180125  40.90  41.27  40.30  40.80      41.07
 2018-01-24  600600.SH   20180124  40.89  41.60  40.56  41.07      41.00
 2018-01-23  600600.SH   20180123  41.53  41.88  40.50  41.00      41.49
 2018-01-22  600600.SH   20180122  41.25  41.64  40.87  41.49      41.65
 2018-01-19  600600.SH   20180119  42.63  42.97  40.45  41.65      43.08
 2018-01-18  600600.SH   20180118  42.97  43.65  42.30  43.08      43.19
 2018-01-17  600600.SH   20180117  44.00  44.10  42.30  43.19      44.23
 2018-01-16  600600.SH   20180116  43.20  46.22  43.20  44.23      42.80
 2018-01-15  600600.SH   20180115  42.12  43.80  42.12  42.80      42.22
 2018-01-12  600600.SH   20180112  42.39  42.39  41.53  42.22      42.53
 2018-01-11  600600.SH   20180111  42.40  43.18  41.85  42.53      42.81
 2018-01-10  600600.SH   20180110  42.20  43.50  41.40  42.81      42.57
 2018-01-09  600600.SH   20180109  41.99  43.50  41.61  42.57      42.02
 2018-01-08  600600.SH   20180108  42.75  43.20  41.50  42.02      43.84
 2018-01-05  600600.SH   20180105  42.35  43.84  42.35  43.84      39.85
 2018-01-04  600600.SH   20180104  39.24  40.05  38.90  39.85      39.39
 2018-01-03  600600.SH   20180103  39.72  39.75  38.65  39.39      39.64
 2018-01-02  600600.SH   20180102  39.50  39.90  38.94  39.64      39.33

             change  pct_chg        vol      amount
 trade_date
 2018-03-30    0.44     1.10   54695.84  221043.758
 2018-03-29    0.83     2.12   57586.40  225764.879
 2018-03-28   -1.48    -3.64   65720.36  258895.658
 2018-03-27    0.43     1.07   62885.52  253193.642
 2018-03-26    2.17     5.70   58624.39  227846.463
 2018-03-23   -1.39    -3.53   69389.19  263480.912
 2018-03-22   -0.25    -0.63   49750.29  196842.556
 2018-03-21   -0.58    -1.44   50395.98  204363.097
 2018-03-20   -0.23    -0.57   37338.38  149736.615
 2018-03-19    0.23     0.57   45130.09  181920.744
 2018-03-16   -0.96    -2.33   68515.04  278917.960
 2018-03-15    0.39     0.96   79756.98  330926.159
 2018-03-14    0.05     0.12   44794.42  182440.394
 2018-03-13   -0.13    -0.32   77822.28  317757.630
 2018-03-12    2.00     5.14  112009.54  453464.278
 2018-03-09    1.52     4.07   95224.75  369908.296
 2018-03-08    0.40     1.08   32875.29  122105.701
 2018-03-07   -0.44    -1.18   51426.92  192943.281
 2018-03-06    0.47     1.27   41222.06  153413.439
 2018-03-05   -0.54    -1.44   35803.67  133203.155
 2018-03-02   -0.75    -1.96   31288.80  117976.912
 2018-03-01    0.12     0.31   33867.58  129112.233
 2018-02-28    0.00     0.00   44201.48  164858.494
 2018-02-27   -0.90    -2.31   41036.54  157069.171
 2018-02-26    0.40     1.04   37219.65  144870.738
 2018-02-23    0.20     0.52   26642.84  102496.237
 2018-02-22    0.61     1.61   47641.76  182880.260
 2018-02-14    0.50     1.34   17325.76   65261.501
 2018-02-13    0.57     1.55   35057.06  131683.601
 2018-02-12    1.01     2.83   32956.34  120567.160
 2018-02-09   -1.74    -4.64   61050.94  219703.479
 2018-02-08    0.07     0.19   44385.18  165878.398
 2018-02-07   -0.61    -1.60   57814.86  219454.072
 2018-02-06   -1.61    -4.06   77640.72  295921.611
 2018-02-05   -0.53    -1.32   87597.20  341256.312
 2018-02-02    1.86     4.86   61043.80  238705.631
 2018-02-01   -1.59    -3.99   70534.44  271702.538
 2018-01-31    0.95     2.44   64464.93  255220.512
 2018-01-30   -0.32    -0.82   50732.92  197946.627
 2018-01-29   -1.82    -4.43   89923.49  358227.694
 2018-01-26    0.28     0.69   96532.37  399506.791
 2018-01-25   -0.27    -0.66   61714.01  251197.585
 2018-01-24    0.07     0.17   85799.07  352954.809
 2018-01-23   -0.49    -1.18  101434.33  416787.114
 2018-01-22   -0.16    -0.38   98480.55  405977.917
 2018-01-19   -1.43    -3.32  130771.92  544013.773
 2018-01-18   -0.11    -0.25   71229.58  306052.233
 2018-01-17   -1.04    -2.35   83611.39  361452.040
 2018-01-16    1.43     3.34  138010.39  614447.662
 2018-01-15    0.58     1.37   85987.16  370232.984
 2018-01-12   -0.31    -0.73   47475.25  199393.796
 2018-01-11   -0.28    -0.65   52260.86  221385.673
 2018-01-10    0.24     0.56   84914.06  359969.010
 2018-01-09    0.55     1.31  107862.10  461103.318
 2018-01-08   -1.82    -4.15  142886.11  602651.862
 2018-01-05    3.99    10.01  221756.95  962386.231
 2018-01-04    0.46     1.17  116358.94  460960.052
 2018-01-03   -0.25    -0.63   94272.67  368201.157
 2018-01-02    0.31     0.79   62566.85  247146.470  }

In [34]:
df_dict.keys()

dict_keys(['600000.SH', '600600.SH'])

In [35]:
df_concat.query("ts_code=='600000.SH'")

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
trade_date,,,,,,,,,,,
2018-01-03,600000.SH,20180102,12.61,12.77,12.60,12.72,12.59,0.13,1.03,313230.53,398614.966
2018-01-04,600000.SH,20180104,12.70,12.73,12.62,12.66,12.66,0.00,0.00,278838.04,353205.838
2018-01-05,600000.SH,20180105,12.67,12.71,12.62,12.69,12.66,0.03,0.24,310267.44,393058.250
2018-01-08,600000.SH,20180108,12.69,12.71,12.63,12.68,12.69,-0.01,-0.08,313898.87,397842.209
2018-01-09,600000.SH,20180109,12.68,12.74,12.66,12.70,12.68,0.02,0.16,262154.32,332848.333
2018-01-10,600000.SH,20180110,12.70,13.09,12.68,13.02,12.70,0.32,2.52,906799.90,1174202.006
2018-01-11,600000.SH,20180111,12.95,13.04,12.87,12.94,13.02,-0.08,-0.61,378164.12,489588.906
2018-01-12,600000.SH,20180112,12.97,13.00,12.90,12.91,12.94,-0.03,-0.23,242034.19,313215.088
2018-01-15,600000.SH,20180115,12.88,13.08,12.85,13.02,12.91,0.11,0.85,613206.80,796861.091
2018-01-16,600000.SH,20180116,12.97,13.06,12.78,12.90,13.02,-0.12,-0.92,748926.52,963701.144
2018-01-17,600000.SH,20180117,12.91,13.42,12.89,13.10,12.90,0.20,1.55,1271328.13,1675235.171
2018-01-18,600000.SH,20180118,13.14,13.25,13.05,13.24,13.10,0.14,1.07,1116080.76,1465159.094
2018-01-19,600000.SH,20180119,13.33,13.61,13.18,13.24,13.24,0.00,0.00,1716488.71,2300220.633
2018-01-22,600000.SH,20180122,12.93,13.15,12.71,12.77,13.24,-0.47,-3.55,2725138.01,3514775.144
2018-01-23,600000.SH,20180123,12.75,12.92,12.68,12.90,12.77,0.13,1.02,2178274.57,2791828.653
2018-01-24,600000.SH,20180124,12.97,14.00,12.89,13.57,12.90,0.67,5.19,3796536.29,5099364.114
2018-01-25,600000.SH,20180125,13.54,13.76,13.36,13.65,13.57,0.08,0.59,1769896.31,2400208.784
2018-01-26,600000.SH,20180126,13.65,13.72,13.36,13.41,13.65,-0.24,-1.76,2184196.85,2954019.925
2018-01-29,600000.SH,20180129,13.48,13.53,13.32,13.46,13.41,0.05,0.37,1537831.04,2065139.247
2018-01-30,600000.SH,20180130,13.45,13.49,13.09,13.11,13.46,-0.35,-2.60,1078040.18,1429924.976
2018-01-31,600000.SH,20180131,13.05,13.19,12.98,13.17,13.11,0.06,0.46,1177032.64,1541960.901
2018-02-01,600000.SH,20180201,13.14,13.33,12.94,13.30,13.17,0.13,0.99,1735733.31,2289044.601
2018-02-02,600000.SH,20180202,13.19,13.19,13.01,13.14,13.30,-0.16,-1.20,717967.80,941467.191
2018-02-05,600000.SH,20180205,13.00,13.54,12.98,13.49,13.14,0.35,2.66,1501496.57,2006361.757
2018-02-06,600000.SH,20180206,13.29,13.50,13.20,13.48,13.49,-0.01,-0.07,2443589.92,3270199.180
2018-02-07,600000.SH,20180207,13.58,13.90,13.24,13.45,13.48,-0.03,-0.22,2007701.15,2720519.687
2018-02-08,600000.SH,20180208,13.34,13.40,12.95,13.10,13.45,-0.35,-2.60,1094268.72,1438198.801
2018-02-09,600000.SH,20180209,12.89,12.98,12.24,12.78,13.10,-0.32,-2.44,1492573.56,1877264.356
2018-02-12,600000.SH,20180212,12.66,12.68,12.43,12.49,12.78,-0.29,-2.27,647991.97,811027.710
2018-02-13,600000.SH,20180213,12.55,12.68,12.50,12.51,12.49,0.02,0.16,549002.14,690054.113
2018-02-14,600000.SH,20180214,12.50,12.55,12.38,12.46,12.51,-0.05,-0.40,325978.11,406060.202
2018-02-22,600000.SH,20180222,12.60,12.68,12.53,12.63,12.46,0.17,1.36,420122.85,529856.471
2018-02-23,600000.SH,20180223,12.66,12.78,12.59,12.72,12.63,0.09,0.71,387365.15,491768.409
2018-02-26,600000.SH,20180226,12.77,12.84,12.61,12.73,12.72,0.01,0.08,488060.55,620261.080
2018-02-27,600000.SH,20180227,12.75,12.76,12.61,12.69,12.73,-0.04,-0.31,485610.87,615622.149
2018-02-28,600000.SH,20180228,12.61,12.66,12.44,12.46,12.69,-0.23,-1.81,398889.38,499258.844
2018-03-01,600000.SH,20180301,12.40,12.50,12.38,12.47,12.46,0.01,0.08,344910.31,429574.072
2018-03-02,600000.SH,20180302,12.40,12.46,12.36,12.41,12.47,-0.06,-0.48,230241.32,285473.130
2018-03-05,600000.SH,20180305,12.41,12.48,12.34,12.42,12.41,0.01,0.08,293434.64,363849.705
2018-03-06,600000.SH,20180306,12.48,12.51,12.38,12.49,12.42,0.07,0.56,272226.68,339015.159
2018-03-07,600000.SH,20180307,12.51,12.60,12.46,12.49,12.49,0.00,0.00,388175.75,487036.820
2018-03-08,600000.SH,20180308,12.55,12.55,12.40,12.47,12.49,-0.02,-0.16,221641.32,276013.913
2018-03-09,600000.SH,20180309,12.49,12.51,12.42,12.48,12.47,0.01,0.08,235582.87,293550.899
2018-03-12,600000.SH,20180312,12.53,12.54,12.46,12.50,12.48,0.02,0.16,251618.21,314544.074
2018-03-13,600000.SH,20180313,12.50,12.58,12.43,12.49,12.50,-0.01,-0.08,251450.00,314545.358
2018-03-14,600000.SH,20180314,12.45,12.45,12.38,12.39,12.49,-0.10,-0.80,228046.03,282970.086
2018-03-15,600000.SH,20180315,12.35,12.41,12.34,12.39,12.39,0.00,0.00,172877.74,213972.089
2018-03-16,600000.SH,20180316,12.36,12.40,12.30,12.30,12.39,-0.09,-0.73,267813.99,330778.426
2018-03-19,600000.SH,20180319,12.31,12.33,12.26,12.31,12.30,0.01,0.08,168960.48,207819.310
2018-03-20,600000.SH,20180320,12.28,12.39,12.25,12.32,12.31,0.01,0.08,206722.83,254187.843
2018-03-21,600000.SH,20180321,12.34,12.40,12.28,12.29,12.32,-0.03,-0.24,238784.65,294872.209
2018-03-22,600000.SH,20180322,12.35,12.35,12.25,12.25,12.29,-0.04,-0.33,229484.84,281975.042
2018-03-23,600000.SH,20180323,12.00,12.06,11.64,11.71,12.25,-0.54,-4.41,571063.91,676679.666
2018-03-26,600000.SH,20180326,11.71,11.75,11.50,11.61,11.71,-0.10,-0.85,364250.54,422233.460
2018-03-27,600000.SH,20180327,11.70,11.77,11.56,11.62,11.61,0.01,0.09,273328.09,318586.664
2018-03-28,600000.SH,20180328,11.53,11.75,11.52,11.57,11.62,-0.05,-0.43,229112.82,266121.467
2018-03-29,600000.SH,20180329,11.57,11.71,11.45,11.62,11.57,0.05,0.43,331088.05,383064.999
2018-03-30,600000.SH,20180330,11.63,11.69,11.61,11.65,11.62,0.03,0.26,232719.65,270987.701