# 数据读入

## 1.从本地读入数据
>pandas官方文档网址：[https://pandas.pydata.org/docs/reference/io.html](https://pandas.pydata.org/docs/reference/io.html)

In [2]:
# 利用pandas直接读入本地数据,具体其他格式见pandas的官方API
import pandas as pd
pd.read_excel(r"C:\Users\Zhang ZhiXin\Desktop\K线导出_399300_日线数据.xls")

,证券代码,证券名称,交易时间,开盘价,最高价,最低价,收盘价,涨跌,涨跌幅%,成交量,成交额
0,399300,沪深300,2005-01-04,994.77,994.77,980.66,982.79,——,——,7412868.0,4.431977e+09
1,399300,沪深300,2005-01-05,981.58,997.32,979.88,992.56,9.77002,0.994111,7119108.0,4.529208e+09
2,399300,沪深300,2005-01-06,993.33,993.79,980.33,983.17,-9.390015,-0.94604,6288029.0,3.921015e+09
3,399300,沪深300,2005-01-07,983.05,995.71,979.81,983.96,0.790039,0.080356,7298694.0,4.737469e+09
4,399300,沪深300,2005-01-10,983.76,993.96,979.79,993.88,9.919983,1.008169,5791697.0,3.762933e+09
...,...,...,...,...,...,...,...,...,...,...,...
4640,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4641,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4642,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4643,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4644,数据来源：东方财富Choice数据,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 2.从MySQL数据库读取数据
>菜鸟教程pymysql：[https://www.runoob.com/python3/python3-mysql.html](https://www.runoob.com/python3/python3-mysql.html)
>菜鸟教程sql：[https://www.runoob.com/sql/sql-tutorial.html](https://www.runoob.com/sql/sql-tutorial.html)

In [ ]:
def get_data_from_mysql(): 
    import pymysql 
    # 连接指定mysql数据账户
    databases = pymysql.connect(host='填入自己的端口地址',port=3306,user='zzx',passwd='<PASSWORD>',db='xyz')
    # 设置一个游标
    cursor=datbases.cursor()
    # 查询语句
    sql="select * from table_name"
    # 执行语句
    cursor.execute(sql)
    # 获取查询到的全部数据
    data=cursor.fetchall()
    # 关闭游标
    cursor.close()
    databases.close()
    return data

## 3.从tushare数据社区获取
> tushare网址：[https://tushare.pro/document/2?doc_id=27](https://tushare.pro/document/2?doc_id=27)
> 具体教程可以在哔哩哔哩视频号上面查找到,个人注册可以获取免费调用权限.

In [7]:
import tushare as ts
pro=ts.pro_api('dc0da43c9ec5549606a55f236aa4c998c9b6f3ba9f25422f8c7b3df7')
df = pro.daily(ts_code='000001.SZ', start_date='20180701', end_date='20180718')
df

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,000001.SZ,20180718,8.75,8.85,8.69,8.70,8.72,-0.02,-0.23,525152.77,460697.377
1,000001.SZ,20180717,8.74,8.75,8.66,8.72,8.73,-0.01,-0.11,375356.33,326396.994
2,000001.SZ,20180716,8.85,8.90,8.69,8.73,8.88,-0.15,-1.69,689845.58,603427.713
3,000001.SZ,20180713,8.92,8.94,8.82,8.88,8.88,0.00,0.00,603378.21,535401.175
4,000001.SZ,20180712,8.60,8.97,8.58,8.88,8.64,0.24,2.78,1140492.31,1008658.828
5,000001.SZ,20180711,8.76,8.83,8.68,8.78,8.98,-0.20,-2.23,851296.70,744765.824
6,000001.SZ,20180710,9.02,9.02,8.89,8.98,9.03,-0.05,-0.55,896862.02,803038.965
7,000001.SZ,20180709,8.69,9.03,8.68,9.03,8.66,0.37,4.27,1409954.60,1255007.609
8,000001.SZ,20180706,8.61,8.78,8.45,8.66,8.60,0.06,0.70,988282.69,852071.526
9,000001.SZ,20180705,8.62,8.73,8.55,8.60,8.61,-0.01,-0.12,835768.77,722169.579
10,000001.SZ,20180704,8.63,8.75,8.61,8.61,8.67,-0.06,-0.69,711153.37,617278.559
11,000001.SZ,20180703,8.69,8.70,8.45,8.67,8.61,0.06,0.70,1274838.57,1096657.033
12,000001.SZ,20180702,9.05,9.05,8.55,8.61,9.09,-0.48,-5.28,1315520.13,1158545.868

## 4.从雅虎金融获取国外交易数据
> + yfinance Github:[https://github.com/ranaroussi/yfinance](https://github.com/ranaroussi/yfinance)
> + ffn Github:[https://github.com/pmorissette/ffn?tab=readme-ov-file](https://github.com/pmorissette/ffn?tab=readme-ov-file)
> + ffn API:[https://pmorissette.github.io/ffn/ffn.html](https://pmorissette.github.io/ffn/ffn.html)

In [14]:
import yfinance as yf
msft = yf.Ticker("MSFT")
# 获取股票数据的全部信息
display(msft.info)

{'address1': 'One Microsoft Way',
 'city': 'Redmond',
 'state': 'WA',
 'zip': '98052-6399',
 'country': 'United States',
 'phone': '425 882 8080',
 'website': 'https://www.microsoft.com',
 'industry': 'Software - Infrastructure',
 'industryKey': 'software-infrastructure',
 'industryDisp': 'Software - Infrastructure',
 'sector': 'Technology',
 'sectorKey': 'technology',
 'sectorDisp': 'Technology',
 'longBusinessSummary': 'Microsoft Corporation develops and supports software, services, devices and solutions worldwide. The Productivity and Business Processes segment offers office, exchange, SharePoint, Microsoft Teams, office 365 Security and Compliance, Microsoft viva, and Microsoft 365 copilot; and office consumer services, such as Microsoft 365 consumer subscriptions, Office licensed on-premises, and other office services. This segment also provides LinkedIn; and dynamics business solutions, including Dynamics 365, a set of intelligent, cloud-based applications across ERP, CRM, power apps, and power automate; and on-premises ERP and CRM applications. The Intelligent Cloud segment offers server products and cloud services, such as azure and other cloud services; SQL and windows server, visual studio, system center, and related client access licenses, as well as nuance and GitHub; and enterprise services including enterprise support services, industry solutions, and nuance professional services. The More Personal Computing segment offers Windows, including windows OEM licensing and other non-volume licensing of the Windows operating system; Windows commercial comprising volume licensing of the Windows operating system, windows cloud services, and other Windows commercial offerings; patent licensing; and windows Internet of Things; and devices, such as surface, HoloLens, and PC accessories. Additionally, this segment provides gaming, which includes Xbox hardware and content, and first- and third-party content; Xbox game pass and other subscriptions, cloud gaming, advertising, third-party disc royalties, and other cloud services; and search and news advertising, which includes Bing, Microsoft News and Edge, and third-party affiliates. The company sells its products through OEMs, distributors, and resellers; and directly through digital marketplaces, online, and retail stores. The company was founded in 1975 and is headquartered in Redmond, Washington.',
 'fullTimeEmployees': 221000,
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. Satya  Nadella',
   'age': 56,
   'title': 'Chairman & CEO',
   'yearBorn': 1967,
   'fiscalYear': 2023,
   'totalPay': 9276400,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Bradford L. Smith LCA',
   'age': 64,
   'title': 'President & Vice Chairman',
   'yearBorn': 1959,
   'fiscalYear': 2023,
   'totalPay': 3591277,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Amy E. Hood',
   'age': 51,
   'title': 'Executive VP & CFO',
   'yearBorn': 1972,
   'fiscalYear': 2023,
   'totalPay': 3452196,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Judson B. Althoff',
   'age': 50,
   'title': 'Executive VP & Chief Commercial Officer',
   'yearBorn': 1973,
   'fiscalYear': 2023,
   'totalPay': 3355797,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Christopher David Young',
   'age': 51,
   'title': 'Executive Vice President of Business Development, Strategy & Ventures',
   'yearBorn': 1972,
   'fiscalYear': 2023,
   'totalPay': 2460507,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Alice L. Jolla',
   'age': 56,
   'title': 'Corporate VP & Chief Accounting Officer',
   'yearBorn': 1967,
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. James Kevin Scott',
   'age': 51,
   'title': 'Executive VP of AI & CTO',
   'yearBorn': 1972,
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Brett  Iversen',
   'title': 'Vice President of Investor Relations',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Hossein  Nowbar',
   'title': 'Chief Legal Officer',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Frank X. Shaw',
   'title': 'Chief Communications Officer',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'auditRisk': 2,
 'boardRisk': 5,
 'compensationRisk': 2,
 'shareHolderRightsRisk': 2,
 'overallRisk': 1,
 'governanceEpochDate': 1706745600,
 'compensationAsOfEpochDate': 1703980800,
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 414.11,
 'open': 415.25,
 'dayLow': 415.09,
 'dayHigh': 420.82,
 'regularMarketPreviousClose': 414.11,
 'regularMarketOpen': 415.25,
 'regularMarketDayLow': 415.09,
 'regularMarketDayHigh': 420.82,
 'dividendRate': 3.0,
 'dividendYield': 0.0070999996,
 'exDividendDate': 1707868800,
 'payoutRatio': 0.2523,
 'fiveYearAvgDividendYield': 0.98,
 'beta': 0.899,
 'trailingPE': 38.02441,
 'forwardPE': 31.501871,
 'volume': 22032844,
 'regularMarketVolume': 22032844,
 'averageVolume': 25853262,
 'averageVolume10days': 27407520,
 'averageDailyVolume10Day': 27407520,
 'bid': 420.85,
 'ask': 421.1,
 'bidSize': 1000,
 'askSize': 900,
 'marketCap': 3124871299072,
 'fiftyTwoWeekLow': 245.61,
 'fiftyTwoWeekHigh': 420.82,
 'priceToSalesTrailing12Months': 13.730688,
 'fiftyDayAverage': 385.2524,
 'twoHundredDayAverage': 345.7469,
 'trailingAnnualDividendRate': 2.86,
 'trailingAnnualDividendYield': 0.0069063776,
 'currency': 'USD',
 'enterpriseValue': 3155245924352,
 'profitMargins': 0.36269,
 'floatShares': 7419662096,
 'sharesOutstanding': 7430439936,
 'sharesShort': 49875453,
 'sharesShortPriorMonth': 51394982,
 'sharesShortPreviousMonthDate': 1703808000,
 'dateShortInterest': 1706659200,
 'sharesPercentSharesOut': 0.0067000003,
 'heldPercentInsiders': 0.00056,
 'heldPercentInstitutions': 0.73125,
 'shortRatio': 1.98,
 'shortPercentOfFloat': 0.0067000003,
 'impliedSharesOutstanding': 7432640000,
 'bookValue': 32.06,
 'priceToBook': 13.117591,
 'lastFiscalYearEnd': 1688083200,
 'nextFiscalYearEnd': 1719705600,
 'mostRecentQuarter': 1703980800,
 'earningsQuarterlyGrowth': 0.332,
 'netIncomeToCommon': 82541002752,
 'trailingEps': 11.06,
 'forwardEps': 13.35,
 'pegRatio': 2.18,
 'lastSplitFactor': '2:1',
 'lastSplitDate': 1045526400,
 'enterpriseToRevenue': 13.864,
 'enterpriseToEbitda': 26.643,
 '52WeekChange': 0.55001473,
 'SandP52WeekChange': 0.21495235,
 'lastDividendValue': 0.75,
 'lastDividendDate': 1700006400,
 'exchange': 'NMS',
 'quoteType': 'EQUITY',
 'symbol': 'MSFT',
 'underlyingSymbol': 'MSFT',
 'shortName': 'Microsoft Corporation',
 'longName': 'Microsoft Corporation',
 'firstTradeDateEpochUtc': 511108200,
 'timeZoneFullName': 'America/New_York',
 'timeZoneShortName': 'EST',
 'uuid': 'b004b3ec-de24-385e-b2c1-923f10d3fb62',
 'messageBoardId': 'finmb_21835',
 'gmtOffSetMilliseconds': -18000000,
 'currentPrice': 420.55,
 'targetHighPrice': 546.44,
 'targetLowPrice': 298.1,
 'targetMeanPrice': 455.86,
 'targetMedianPrice': 455.0,
 'recommendationMean': 1.7,
 'recommendationKey': 'buy',
 'numberOfAnalystOpinions': 44,
 'totalCash': 80981999616,
 'totalCashPerShare': 10.899,
 'ebitda': 118427000832,
 'totalDebt': 111358001152,
 'quickRatio': 1.096,
 'currentRatio': 1.218,
 'totalRevenue': 227583000576,
 'debtToEquity': 46.736,
 'revenuePerShare': 30.612,
 'returnOnAssets': 0.1519,
 'returnOnEquity': 0.39174,
 'freeCashflow': 58680999936,
 'operatingCashflow': 102646996992,
 'earningsGrowth': 0.332,
 'revenueGrowth': 0.176,
 'grossMargins': 0.69815004,
 'ebitdaMargins': 0.52037,
 'operatingMargins': 0.43585998,
 'financialCurrency': 'USD',
 'trailingPegRatio': 2.5028}

In [13]:
# 获取股票数据的历史信息
hist = msft.history(period="1mo")
display(hist)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-01-10 00:00:00-05:00,376.369995,384.170013,376.320007,382.769989,25514200,0.0,0.0
2024-01-11 00:00:00-05:00,386.000000,390.679993,380.380005,384.630005,27850800,0.0,0.0
2024-01-12 00:00:00-05:00,385.489990,388.679993,384.649994,388.470001,21645700,0.0,0.0
2024-01-16 00:00:00-05:00,393.660004,394.029999,387.619995,390.269989,27202300,0.0,0.0
2024-01-17 00:00:00-05:00,387.980011,390.109985,384.809998,389.470001,22234100,0.0,0.0
2024-01-18 00:00:00-05:00,391.720001,393.989990,390.119995,393.869995,23392100,0.0,0.0
2024-01-19 00:00:00-05:00,395.760010,398.670013,393.500000,398.670013,29272000,0.0,0.0
2024-01-22 00:00:00-05:00,400.019989,400.619995,393.589996,396.510010,27016900,0.0,0.0
2024-01-23 00:00:00-05:00,395.750000,399.380005,393.929993,398.899994,20525900,0.0,0.0
2024-01-24 00:00:00-05:00,401.540009,405.630005,400.450012,402.559998,24867000,0.0,0.0
2024-01-25 00:00:00-05:00,404.320007,407.010010,402.529999,404.869995,21021200,0.0,0.0
2024-01-26 00:00:00-05:00,404.369995,406.170013,402.429993,403.929993,17803300,0.0,0.0
2024-01-29 00:00:00-05:00,406.059998,409.980011,404.329987,409.720001,24510200,0.0,0.0
2024-01-30 00:00:00-05:00,412.260010,413.049988,406.450012,408.589996,33477600,0.0,0.0
2024-01-31 00:00:00-05:00,406.959991,415.320007,397.209991,397.579987,47871100,0.0,0.0
2024-02-01 00:00:00-05:00,401.829987,408.000000,401.799988,403.779999,30657700,0.0,0.0
2024-02-02 00:00:00-05:00,403.809998,412.649994,403.559998,411.220001,28245000,0.0,0.0
2024-02-05 00:00:00-05:00,409.899994,411.160004,403.989990,405.649994,25352300,0.0,0.0
2024-02-06 00:00:00-05:00,405.880005,407.970001,402.910004,405.489990,18382600,0.0,0.0
2024-02-07 00:00:00-05:00,407.440002,414.299988,407.399994,414.049988,22340500,0.0,0.0
2024-02-08 00:00:00-05:00,414.049988,415.559998,412.529999,414.109985,21225300,0.0,0.0
2024-02-09 00:00:00-05:00,415.250000,420.820007,415.089996,420.549988,22012900,0.0,0.0

In [9]:
import ffn
data = ffn.get('agg,hyg,spy,eem,efa', start='2010-01-01', end='2014-01-01')
print(data.head())

                  agg        hyg        spy        eem        efa
Date
2010-01-04  71.304695  39.491520  87.129921  31.827105  37.523781
2010-01-05  71.629036  39.678875  87.360596  32.058128  37.556866
2010-01-06  71.587685  39.781471  87.422066  32.125195  37.715607
2010-01-07  71.504829  39.942055  87.791138  31.938908  37.570084
2010-01-08  71.546265  40.004517  88.083267  32.192261  37.867737

# 数据存储

## 1.存储为pandas中常见的格式
> 菜鸟教程文件目录：[https://www.runoob.com/python/python-os-path.html](https://www.runoob.com/python/python-os-path.html)

In [11]:
# pickle格式：平时工作中使用较多的格式，能够节省存储空间，读取相对较快，局限是仅限于python的解释器之间
df.to_pickle(r'D:\个人文件集\Spyder 项目\基于python的金融分析与风险管理\量化投资入门项目介绍\data\df_pickle.pkl')
# excel格式：平时也比较常用，文件相较于csv稍微大一些
df.to_excel(r'D:\个人文件集\Spyder 项目\基于python的金融分析与风险管理\量化投资入门项目介绍\data\df_excel.xlsx')
# csv格式：存储空间相对较小，读取速度快
df.to_csv(r'D:\个人文件集\Spyder 项目\基于python的金融分析与风险管理\量化投资入门项目介绍\data\df_csv.csv')

In [ ]:
import os
file_path=r'D:\个人文件集\Spyder 项目\基于python的金融分析与风险管理\量化投资入门项目介绍\data'
df.to_pickle(os.path.join(file_path,'df_pickle1.pkl'))

In [3]:
# 数据读入
df_pickle=pd.read_pickle(r'D:\个人文件集\Spyder 项目\基于python的金融分析与风险管理\量化投资入门项目介绍\data\df_pickle.pkl')
df_pickle

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,000001.SZ,20180718,8.75,8.85,8.69,8.70,8.72,-0.02,-0.23,525152.77,460697.377
1,000001.SZ,20180717,8.74,8.75,8.66,8.72,8.73,-0.01,-0.11,375356.33,326396.994
2,000001.SZ,20180716,8.85,8.90,8.69,8.73,8.88,-0.15,-1.69,689845.58,603427.713
3,000001.SZ,20180713,8.92,8.94,8.82,8.88,8.88,0.00,0.00,603378.21,535401.175
4,000001.SZ,20180712,8.60,8.97,8.58,8.88,8.64,0.24,2.78,1140492.31,1008658.828
5,000001.SZ,20180711,8.76,8.83,8.68,8.78,8.98,-0.20,-2.23,851296.70,744765.824
6,000001.SZ,20180710,9.02,9.02,8.89,8.98,9.03,-0.05,-0.55,896862.02,803038.965
7,000001.SZ,20180709,8.69,9.03,8.68,9.03,8.66,0.37,4.27,1409954.60,1255007.609
8,000001.SZ,20180706,8.61,8.78,8.45,8.66,8.60,0.06,0.70,988282.69,852071.526
9,000001.SZ,20180705,8.62,8.73,8.55,8.60,8.61,-0.01,-0.12,835768.77,722169.579
10,000001.SZ,20180704,8.63,8.75,8.61,8.61,8.67,-0.06,-0.69,711153.37,617278.559
11,000001.SZ,20180703,8.69,8.70,8.45,8.67,8.61,0.06,0.70,1274838.57,1096657.033
12,000001.SZ,20180702,9.05,9.05,8.55,8.61,9.09,-0.48,-5.28,1315520.13,1158545.868

## 2.存储为txt文本格式
> 使用python的write函数进行写入存储
> 菜鸟教程write：[https://www.runoob.com/python/python-file-write.html](https://www.runoob.com/python/python-file-write.html)
> 菜鸟教程I/O：[https://www.runoob.com/python/python-files-io.html](https://www.runoob.com/python/python-files-io.html)

In [ ]:
# 这里是爬虫的一段代码，不了解的朋友可以只看write的写入部分
import requests
from pyquery import PyQuery as pq
url = 'https://www.zhihu.com/explore'
headers = {
    'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.36'}
html = requests.get(url, headers=headers).text
doc = pq(html)
items = doc('.explore-tab .feed-item').items() 
for item in items:
    question = item.find('h2').text()
    author = item.find('.author-link-line').text()
    answer = pq(item.find('.content').html()).text()
    file = open('explore.txt', 'a', encoding='utf-8')
    # 在文件关闭前或缓冲区刷新前，字符串内容存储在缓冲区中，这时你在文件中是看不到写入的内容的。
    file.write('\n'.join([question, author, answer]))
    file.write('\n' + '=' * 50 + '\n')
    file.close()

In [ ]:
# 文件写入还有一种简写方法，那就是使用 with as 语法。
# 在 with 控制块结束时，文件会自动关闭，所以就不需要再调用 close 方法了。
with open('explore.txt', 'a', encoding='utf-8') as file:
    file.write('\n'.join([question, author, answer]))
    file.write('\n' + '=' * 50 + '\n')

## 3.存储为json格式
> [spyder网络爬虫数据库存储](https://github.com/Python3WebSpider/Python3WebSpider/blob/master/5.1-%E6%96%87%E4%BB%B6%E5%AD%98%E5%82%A8.md)

In [ ]:
import json
str = '''
[{
    "name": "Bob",
    "gender": "male",
    "birthday": "1992-10-18"
}, {
    "name": "Selina",
    "gender": "female",0
    "birthday": "1995-10-18"
}]
'''
print(type(str))
data = json.loads(str)
print(data)
print(type(data))

# 完整的获取数据框架

In [ ]:
def main():
    start_date='20200101'
    start_date_1year='20230101'
    end_date='20240101'
    code_y_tuple,code_a_tuple=code_y_a()
    a_setup_date=setup_date(code_a_tuple)
    a_nav_unit_data=nav_unit_data(code_a_tuple,start_date,end_date)
    a_equity_data=equity_data(code_a_tuple)
    y_nav_unit_data=nav_unit_data(code_y_tuple,start_date_1year,end_date)
    y_setup_date=setup_date(code_y_tuple)
    b_close_df=data_b_close_df(start_date,end_date)
    b_comp_code_dict = code_all_index_fof()
    b_comp_equity = equity_all_index_fof(b_comp_code_dict)
    b_comp_equity_center = equity_center_data(b_comp_equity)
    data_dict={
        'a_setup_date':a_setup_date,
        'a_nav_unit_data':a_nav_unit_data,
        'a_equity_data':a_equity_data,
        'y_nav_unit_data':y_nav_unit_data,
        'y_setup_date':y_setup_date,
        'b_close_df':b_close_df,
        'b_comp_code_dict':b_comp_code_dict,
        'b_comp_equity':b_comp_equity,
        'b_comp_equity_center':b_comp_equity_center
    }
    return data_dict

if __name__=='__main__':
    data_dict = main()
    file_path=r'D:\个人文件集\西筹科技实习\Qwen-finetune-new\qwen-finetune\qwen-finetune\FOF_NEW\data_dict.pkl'
    try:
        with open(file_path, 'wb') as f:
            pickle.dump(data_dict,f)
        print("Data successfully saved.")
    except Exception as e:
        print(f"Error:{e}")