In [1]:
import pandas as pd

In [2]:
data_dict = pd.read_pickle(r'D:\My_Github\Projects_data\B_FOF_Select\data\output\data_dict.pkl')

In [4]:
data_dict.keys()

dict_keys(['a_setup_date', 'a_nav_unit_data', 'a_equity_data', 'y_nav_unit_data', 'y_setup_date', 'b_close_df', 'b_comp_code_dict', 'b_comp_equity', 'b_comp_equity_center'])

In [5]:
for i in data_dict.keys():
    globals()[i] = data_dict[i]

In [6]:
a_equity_data.head()

  main_code  ann_date  end_date stock_code mktval_net_asset report_type
0    006245  20200408  20191231     000001       0.93336527        年度报告
1    006245  20200121  20191231     000001       0.76720917        第四季报
2    006245  20200408  20191231     000002       1.10788614        年度报告
3    006245  20200121  20191231     000002       0.56451052        第四季报
4    006245  20200408  20191231     000063       0.50301245        年度报告